body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    color: green;
}

h2 {
    text-align: center;
    font-family: "Brush Script MT";
    font-size: 7vmin;
    color: green;
}

#main-container {
    background-color: #fafac5;
    width: 75%;
    margin: auto;
    padding: 0;
    border-radius: 20px;
}

.menu-band {
    background-color: green;
    border-radius: 19px 19px 0px 0px;
    top: 0;
    margin: 0;
    padding:0;
    position: sticky;
    width: 100%;
    z-index: 2;
}

.menu {
    text-align: center;
    color: white;
    margin: 0;
    padding: 10px;
}

.menu a:link {
    color: #fafac5;
    text-decoration: none;
}

.menu a:visited {
    color: #fafac5;
    text-decoration: none;
}

.menu a:hover {
    color: #fafac5;
    text-decoration: none;
}

.menu a:active {
    color: #fafac5;
    text-decoration: none;
}
   
.block {
    width: 85%;
    background-color: #fafa81;
    margin: auto;
    margin-bottom: 3vw;
    padding: 1px 30px;
}

footer {
    background-color: green;
    border-radius: 0 0 19px 19px;
    padding: 10px;
    text-align: center;
    color: #fafac5;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.photo-container {
    display: inline-block;
    border: 4px solid green;
    margin-bottom: 30px;
    position: relative;
    Height: 266px;
    width: 200px;
    border-radius: 8px;
}

.quilt-images img {
    top: 0;
    left: 0;
    position: absolute;
}

.quilt-detail {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.quilt-images:hover div.quilt-detail {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: scale(2);
    z-index: 1;
}

.form {
    margin: auto;
    border: 1px solid green;
    margin: 2% auto;
    width: 50%;
    border-radius: 12px;
    background: green;
    padding: 5%;
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.3);  
    color: white;
    font-size: 12pt;

}

.form input[type="text"],
.form input[type="email"] {
    width: 95%;
    border-radius: 6px;
    padding: 5px 8px;
    font-weight: 600;
    margin-bottom: 10px;
    border: none;
}
.form input[type="text"]::placeholder,
.form input[type="email"]::placeholder {
    color: green;
    font-weight: 200;
}

.form input[type="submit"] {
    width: 50%;
    color: green;
    border-radius: 6px;
    padding: 5px 8px;
    margin-top: 10px;
    margin-left: 25%;
    font-weight: 800;
}