html {
    background-color: #fafac5; /* look sbetter without BG setting, but kept for reference*/
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    color: green;
    opacity: 1;
    transition: 1s opacity;
    padding: 0;
    margin: 0;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

h2 {
    text-align: center;
    font-family: "Brush Script MT";
    font-size: 7vmin;
    color: green;
}

#main-container {
    background-color: #fafac5;
    width: 75%;
    margin: auto;
    padding: 0;
    border-radius: 20px;
}

.menu-band {
    background-color: green;
    border-radius: 19px 19px 0px 0px;
    top: 0;
    margin: 0;
    padding:0;
    position: sticky;
    width: 100%;
    z-index: 2;
}

.menu {
    text-align: center;
    color: white;
    margin: 0;
    padding: 10px;
}

.menu a:link {
    color: #fafac5;
    text-decoration: none;
}

.menu a:visited {
    color: #fafac5;
    text-decoration: none;
}

.menu a:hover {
    color: #fafac5;
    text-decoration: none;
}

.menu a:active {
    color: #fafac5;
    text-decoration: none;
}
   
.block {
    width: 85%;
    background-color: #fafa81;
    margin: auto;
    margin-bottom: 3vw;
    padding: 1px 30px;
}

footer {
    background-color: green;
    border-radius: 0 0 19px 19px;
    padding: 10px;
    text-align: center;
    color: #fafac5;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.photo-container {
    display: inline-block;
    border: 4px solid green;
    margin-bottom: 30px;
    position: relative;
    Height: 266px;
    width: 200px;
    border-radius: 8px;
}

.quilt-images img {
    top: 0;
    left: 0;
    position: absolute;
}

.quilt-detail {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.quilt-images:hover div.quilt-detail {
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.form {
    margin: auto;
    border: 1px solid green;
    margin: 2% auto;
    width: 50%;
    border-radius: 12px;
    background: green;
    padding: 5%;
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.3);  
    color: white;
    font-size: 12pt;

}

.form input[type="text"],
.form input[type="email"] {
    width: 95%;
    border-radius: 6px;
    padding: 5px 8px;
    font-weight: 600;
    margin-bottom: 10px;
    border: none;
}
.form input[type="text"]::placeholder,
.form input[type="email"]::placeholder {
    color: green;
    font-weight: 200;
}

.form input[type="submit"] {
    width: 50%;
    color: green;
    border-radius: 6px;
    padding: 5px 8px;
    margin-top: 10px;
    margin-left: 25%;
    font-weight: 800;
}

/* MODAL/LIGHTBOX */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal_content {
    position: relative;
    background-color: red; /* #fefefe;*/
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.mySlides img {
    height: 450px;
    display: block;
    margin: auto;
}



.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    margin-top: -250px;
    color:  white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.caption_container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
    width: 100%;
}

img.active,
.demo:hover {
    opacity: 1;
}

.column {
    float: left;
    width: 9%;
}